body{
  margin: 0;
}

nav{
  height: 60px;
  background-color: grey;
}

footer{
  height: 60px;
  background-color: grey;
}

.main{
  display: flex;
  height: calc(100vh - 60px - 60px);
  background-color: honeydew;
  width: 700px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.main > div{
  margin-left: 100px;
}

img{
  width: 200px;
}

.miniFlex{
  display: flex;
}