<h1>Hallo, home here</h1>
<ul>
  {{#each marskiniai}}
    <li> 
      markė: {{this.brand}} |
      modelis: {{this.model}} |
      dydis: {{this.size}} |
      kaina: {{this.price}}
    </li>
  {{/each}}
</ul>