.formuLaukas{
  display: flex;
  justify-content: space-around;
}

.filmas{
  position: relative;
}

.filmas img{
  height: 400px;
  width: auto;
}

#movies{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trintiBtn{
  position: absolute;
  top: 70px;
  left: 280px;
}
.redaguotiBtn{
  position: absolute;
  top: 100px;
  left: 280px;
}