.NavigationTop{
  display: flex;
  flex-direction: row;
}

.NavigationSide{
  display: flex;
  flex-direction: column;
}

.Navigation a{
  margin-left: 20px;
  color: red;
  font-size: 2rem;
  background-color: rgb(224, 234, 242);
}